/* Master Styles */
h1 {
  color: #F8E9D4; 
  font-family: Verdana, Geneva, sans-serif;   
  font-size: 250%;
  text-align: center;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  background-color: #000; 
  font-family: Arial, Helvetica, sans-serif;   
}
.environmentContainer {
	text-align: center;
}
.environment {
	transition:all .5s ease;
    border-radius: 10px;
}

.environment:hover {
}

.notSelected {
	opacity:.2;
	xz-index:-1;
}

.selected {
    xz-index: 9999;
	xopacity:1;
    transform: scale(1.1);
    xborder:dashed grey 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
}

.moodText {
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	color: #7F7FDE;
}
